{% load i18n static %}

{% if cl.search_fields %}
<details>
    <summary>
        <b>Instructions</b>
    </summary>
    <p>Each trade agreement has either of a list of covered commodity codes or excluded codes.</p>
    <p>There are a few different trade agreement coding systems.</p>
    <p>Federal Supply Classification System (FSC)</p>
    <p>Common Classification System (CCS)</p>
    <p>Central Product Classification (CPC)</p>
    <p>The GC developed the Goods and Services Identification System (GSIN) for its commodity code system</p>
    <p>The table of commodity codes below was created by creating a crosswalk between the trade codes</p>
    <p>and the GSIN codes.  We then shortened the list of codes to only those with will be in EPS.</p>
    <br>
    <p>There is a row for each commodity code.  You can edit the models here or by clicking the row ID.</p>
    <p>Use the search field to search by commodity code.  Or you can filter entities by trade agreement coverage.</p>
    <p>There are checkboxes on the far left.  If you want to delete a row, click the checkbox then under Action select the dropdown option and click Go.</p>
    <br>
    <p>ID:  Click on the row ID to edit the information in a row.</p>
    <p>CODE [EN]: The commodity code text in english.</p>
    <p>CODE [FR]: The commodity code text in french.</p>
    <p>COMMODITY TYPE: Goods, Services, or Construction</p>
    <p>The rest of the columns are for Canada's trade agreements.</p>
    <p>A checkmark indicates that the entity is covered by the trade agreement. No checkmark means the entity is not covered by the trade agreement.</p>
    <br>
    <table>
        <p>The data used to populate the database can be found in the following documents:</p>
        <thead>
            <tr class="active"> 
                <th scope="col">
                    Agreement
                </th>
                <th scope="col">
                    Document
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    CCFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/chile-chili/fta-ale/03kbis_annex-annexe.aspx?lang=en#01">Schedule of Canada</a>
                </td>
            </tr>
            <tr>
                <td>
                    CCoFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/colombia-colombie/fta-ale/14_1.aspx?lang=eng">Schedule of Canada</a>
                </td>
            </tr>
            <tr>
                <td>
                    CHFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/honduras/fta-ale/17_1.aspx?lang=eng">Schedule of Canada</a>
                </td>
            </tr>
            <tr>
                <td>
                    CPAFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/panama/fta-ale/16_1.aspx?lang=eng#a1">Schedule of Canada</a>
                </td>
            </tr>
            <tr>
                <td>
                    CPFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/peru-perou/fta-ale/annex-1401-annexe.aspx?lang=eng">Schedule of Canada</a>
                </td>
            </tr>
            <tr>
                <td>
                    CKFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/korea-coree/fta-ale/14.aspx?lang=eng">Schedule of Canada</a>
                </td>
            </tr>
            <tr>
                <td>
                    CUFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/ukraine/text-texte/101.aspx?lang=eng#a101">Schedule of Canada</a>
                </td>
            </tr>
            <tr>
                <td>
                    WTO-AGP
                </td>
                <td>
                    <a href="https://e-gpa.wto.org/en/Annex/Details?Agreement=GPA113&Party=Canada&AnnexNo=1&ContentCulture=en">Schedule of Canada</a>
                </td>
            </tr>
            <tr>
                <td>
                    CETA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/ceta-aecg/text-texte/19-A.aspx?lang=eng#a1">Schedule of Canada</a>
                </td>
            </tr>
            <tr>
                <td>
                    CPTPP
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/tpp-ptp/text-texte/15-a3.aspx?lang=eng">Schedule of Canada</a>
                </td>
            </tr>
            <tr>
                <td>
                    CFTA
                </td>
                <td>
                    <a href="https://www.cfta-alec.ca/wp-content/uploads/2020/08/CFTA-Consolidated-Text-Final-English_August-5-2020.pdf">Schedule of Canada (PDF)</a>
                </td>
            </tr>
        </tbody>
    </table>
</details>
<div id="toolbar"><form id="changelist-search" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search"></label>
<input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" autofocus>
<input type="submit" value="{% trans 'Search' %}">
{% if show_result_count %}
    <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
{% endif %}
{% for pair in cl.params.items %}
    {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
{% endfor %}
</div>
</form></div>
{% endif %}
