{% load i18n static %}
<details>
    <summary>
        <b>Instructions</b>
    </summary>
    <p>Each trade agreement contains a table with monetary threshold, above which the trade agreement applies.</p>
    <p>Every two years, the thresholds in the free trade agreements are updated.</p>
    <p>Check <a href="https://www.canada.ca/en/treasury-board-secretariat/services/policy-notice.html">Policy Notices and TB Circulars - Contracting</a> for the current thresholds.</p>
    <br>
    <p>There is a row for each commodity type.  You can edit the models here or by clicking the comodity type.</p>
    <p>You can filter by commodity type.</p>
    <p>There are checkboxes on the far left.  If you want to delete a row, click the checkbox then under Action select the dropdown option and click Go.</p>
    <br>
    <p>Commodity Type: One of goods, services or construction.</p>
    <p>The rest of the columns are for Canada's trade agreements.</p>
    <p>The value indicates the current trade agreement thresholds for each agreement.</p>
    <br>
</details>
{% if cl.search_fields %}
<div id="toolbar"><form id="changelist-search" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search"></label>
<input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" autofocus>
<input type="submit" value="{% trans 'Search' %}">
{% if show_result_count %}
    <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
{% endif %}
{% for pair in cl.params.items %}
    {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
{% endfor %}
</div>
</form></div>
{% endif %}
