Babel
bleach==3.1.2
colorama
Django==2.2.10
djangorestframework
django-markdown-filter==0.0.1
django-import-export==2.0
markdown2==2.3.8
python-dateutil
pytz>=2019.3
six==1.13.0
sqlparse==0.3.0
webencodings==0.5.1