{% load i18n static %}
<details>
    <summary>
        <b>Instructions</b>
    </summary>
    <p>For most entities most construction is covered by TAs.</p>
    <p>For the Department of Transport construction is not covered.</p>
    <br>
    <p>There is a row for each organization.  You can edit the models here or by clicking the row ID.</p>
    <p>There are checkboxes on the far left.  If you want to delete a row, click the checkbox then under Action select the dropdown option and click Go.</p>
    <p>ORG FK: This is the name of the entity. Click on this to edit the information in a row</p>
    <p>The rest of the columns are for Canada's trade agreements.</p>
    <p>A checkmark indicates that for that TA and entity, construction is not covered.</p>
    <p>No checkmark indicates that for that TA and entity, the usual construction covered applies.</p>
    <p>Entities for which all the usual construction coverage always applies do not need to be listed here.</p>
    <br>
    <table>
        <p>The data used to populate the database can be found in the following documents:</p>
        <thead>
            <tr class="active"> 
                <th scope="col">
                    Agreement
                </th>
                <th scope="col">
                    Document
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    CCFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/chile-chili/fta-ale/03kbis_annex-annexe.aspx?lang=en#01">Annex K bis-01.1-5 - Section B - Excluded Coverage</a>
                </td>
            </tr>
            <tr>
                <td>
                    CCoFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/colombia-colombie/fta-ale/14_1.aspx?lang=eng">Annex 1401-5 Construction Services - Section B - Excluded Coverage</a>
                </td>
            </tr>
            <tr>
                <td>
                    CHFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/honduras/fta-ale/17_1.aspx?lang=eng">Annex 17.5: Construction Services - Section B – Excluded Coverage</a>
                </td>
            </tr>
            <tr>
                <td>
                    CPAFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/panama/fta-ale/16_1.aspx?lang=eng#a1">Annex 6: Construction Services - Section B – Excluded Coverage by Major Service Category</a>
                </td>
            </tr>
            <tr>
                <td>
                    CPFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/peru-perou/fta-ale/annex-1401-annexe.aspx?lang=eng">Annex 1401.1-5 - Construction Services - Services Exclusions by Major Service Category</a>
                </td>
            </tr>
            <tr>
                <td>
                    CKFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/korea-coree/fta-ale/14.aspx?lang=eng">Annex 14-D: Construction Services - Schedule of Canada</a>
                </td>
            </tr>
            <tr>
                <td>
                    CUFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/ukraine/text-texte/101.aspx?lang=eng#a101">Annex 10-5: Construction Services</a>
                </td>
            </tr>
            <tr>
                <td>
                    WTO-AGP
                </td>
                <td>
                    <a href="https://e-gpa.wto.org/en/Annex/Details?Agreement=GPA113&Party=Canada&AnnexNo=6&ContentCulture=en">Canada - Construction Services - Annex 6</a>
                </td>
            </tr>
            <tr>
                <td>
                    CETA
                </td>
                <td>
                    <p>NA</p>
                </td>
            </tr>
            <tr>
                <td>
                    CPTPP
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/tpp-ptp/text-texte/15-a3.aspx?lang=eng">Annex 15-A - Section F - Construction Services</a>
                </td>
            </tr>
            <tr>
                <td>
                    CFTA
                </td>
                <td>
                    <p>NA</p>
                </td>
            </tr>
        </tbody>
    </table>
</details>
{% if cl.search_fields %}
<div id="toolbar"><form id="changelist-search" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search"></label>
<input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" autofocus>
<input type="submit" value="{% trans 'Search' %}">
{% if show_result_count %}
    <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
{% endif %}
{% for pair in cl.params.items %}
    {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
{% endfor %}
</div>
</form></div>
{% endif %}
