{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    <h2>Instructions</h2>
    <p>This is the main screen of the admin site.</p>
    <p><b>User: </b>This section controls user access to the admin site.</p>
    <p><b>Guide: </b>This section has the information that populates the app.</p>
    <br>
    <p>Each app has 'models', these correspond to things like Entities in the Guide app and Users in the User app</p>
    <p>Each 'model' stores specific information.  The Entities 'model' has a list of GC organizations.  The User 'model' has a list of users with access to the admin page.</p>
    <p>The order in which information is input matters, because some models required information from other models.</p>
    <br>
    <p><b>Independent models: </b>These do not require information from other models and any information can be added or deleted from these models at any time.</p>
    <details>
        <summary>
            <b>Independent Models</b>
        </summary>
        <table>
            <tbody>
                <tr>
                    <td>
                        CFTA Exceptions
                    </td>
                </tr>
                <tr>
                    <td>
                        Commodity Types
                    </td>
                </tr>
                <tr>
                    <td>
                        Entities
                    </td>
                </tr>
                <tr>
                    <td>
                        General Exceptions
                    </td>
                </tr>
                <tr>
                    <td>
                        Limited Tendering Reasons
                    </td>
                </tr>
            </tbody>
        </table>
    </details>
    <br>
    <p><b>Dependent models: </b>These require information from other models.  If you delete information in linked model then the information in the dependent model will also be deleted.  For instance Commodity Codes depends on Commodity Types.  If you delete Construction from Commodity Types then all the codes linked to Construction will also be deleted.</p>
    <details>
        <summary>
            <b>Dependent Models</b>
        </summary>
        <table>
            <tbody>
                <tr>
                    <td>
                        Value Thresholds - Depends on Commodity Type
                    </td>
                </tr>
                <tr>
                    <td>
                        Commodity Codes - Depends on Commodity Type
                    </td>
                </tr>
                <tr>
                    <td>
                        Commodity Code - Entities - Exclusions - Depends on Commodity Codes and Entities
                    </td>
                </tr>
                <tr>
                    <td>
                        Entities - Commodity Type - Rules - Depends on Entities and Commodity Type
                    </td>
                </tr>
            </tbody>
        </table>
    </details>
    <br>
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                {% if model.view_only %}
                <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                {% else %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% endif %}
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to view or edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
