{% extends "general_form.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}

{% block form %}
    {% for ffield in form %}
    <div class="form-group" role="form">
        {% if ffield.errors %}
            {% for error in ffield.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        <h2>{% trans "Step 3: Canadian Free Trade Agreement Specific Exclusions" %}</h2>
        <p><b>{% trans "Important: " %}</b>{% trans "Provide a response to the following question. " %}</p>
        <p>{% trans "Is the procurement excluded from the CFTA per the list of CFTA specific exclusions below?" %}</p>
        <p>{% trans "Answer the question by reviewing the following list of CFTA specific trade agreement exclusions. If a procurement falls under one or more of the following exceptions, select “Excluded”. If none of the following exclusions apply, select “Covered”." %}</p>
            {% for ce in form.cfta_exceptions %}
                <div class="checkbox">
                    <span>
                        {{ ce }}	
                    </span> 
                </div>
            {% endfor %}
        <hr>
    </div>
    {% endfor %}
{% endblock %}

