{% extends "general_form.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}

{% block title %}
<h1 property="name" id="wb-cont" dir="ltr">Trade Agreement Coverage Tool: Step 4. CFTA Exceptions</h1>
{% endblock %}
{% block form %}
<form action="" method="POST" role="form" id="ce-form">
    {% csrf_token %}
    {{ wizard.management_form }}
        {% for ffield in form %}
        <div class="form-group" role="form">
            {% if ffield.errors %}
                {% for error in ffield.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            <h2>{{ ffield.field.label }}</h2> 
            <p>{% trans "Select all exceptions, if any, which apply." %}</p>
                {% for ce in form.cfta_exceptions %}
                    <div class="checkbox">
                        {{ ce }}
                    </div>
                {% endfor %}
            <hr>
        </div>
        {% endfor %}
    <br>
    {% block pagination %}
        <div class="mwspagination section">
            <nav class="mrgn-bttm-lg">
                <h3 class="wb-inv">Document navigation</h3>
                <ul class="pager">
                    <div align="right">
                        <li class="next">
                            <input type="submit" class="btn btn-primary" rel="next" id="submit-form-button" value="{% trans "Next" %}"/>
                            <span class="wb-inv">Go to next step.</span>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    {% endblock %}
</form>
{% endblock %}

