{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}

{% block main-content %}

    {# --- Main title #}
    {% block main-content-title %}
    <main role="main" property="mainContentOfPage" class="container">
        <h1 property="name" id="wb-cont" dir="ltr">Trade Agreement Determination Tool</h1>
    
        <div>
            <div class="mwsgeneric-base-html parbase section">     
                <p class="gc-byline"><strong>From: <a href="https://www.canada.ca/en/treasury-board-secretariat.html">Treasury Board of Canada Secretariat</a></strong></p>
            </div>
        </div>
    </main>
    {% endblock %}
    {% block intro %}
        <h3>{% trans "Based on the information that was provided (e.g. Total Estimated Value, Procuring Entity, Commodity Type and Commodity Code).  It is suggested that the following trade agreements will likely apply:"%}</h3>
        {% if True not in bool.values %}
            <span>None</span>
        {% else %}
            {% for k1, v1 in bool.items %}
                {% if v1 is True %}
                    <span>{% cycle '' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' %}</span>
                    <span>{{ k1.upper }}</span>
                {% endif %}        
            {% endfor%}
        {% endif %}
        <p>{% trans "Important: The results provided is a suggestion only.  It is still the responsibility of the procurement officer to identify actual trade agreement coverage based on the full considerations of the procurement including exceptions and exclusions that would apply to the entire procurement." %}</p>
        <p><i>{% trans "Note: If there are any discrepancies between the suggestion(s) and the text of the trade agreement(s), the text of the trade agreement(s) take precedence." %}</i></p>
        <hr>
            <div class="row mrgn-tp-md mrgn-bttm-lg">
                <table>
                    <h2>{% trans "Summary" %}</h2>
                    <thead>
                        <th>{% trans "Category" %}</th>
                        <th>{% trans "User Input" %}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% trans "Total Estimated Value:" %}</td>
                            <td>{{ estimated_value|intcomma }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Procuring Entity:" %}</td>
                            <td>{{ entities }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Commodity Type:" %}</td>
                            <td>{{ type }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Commodity Code:" %}</td>
                            <td>{{ code }}</td>
                        </tr>
                        <br>
                        <tr>
                            <td>{% trans "Exceptions and Exclusions:" %}</td>
                            <td>
                                {% for ex in exceptions %}
                                    <li>{{ ex }}</li>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        <h2>{% trans "Details" %}</h2>
        {% for k1, v1 in ta.items %}
            <ul class="list-unstyled">
                <li>
                    <details>
                        <summary>
                            {{ k1.upper }}
                        </summary>
                        <table>
                            <thead>
                                <th>{% trans "Form Field" %}</th>
                                <th>{% trans "Result" %}</th>
                            </thead>
                            <tbody>
                                {% for k2, v2 in v1.items %}
                                    <tr>
                                        <td>{{ k2|title }}</td>
                                        <td>{{ v2 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </details>
                </li>
            </ul>   
        {% endfor %} 
    {% endblock %}
{% endblock main-content %}
