{% extends "general_form.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}

{% block form %}
    {% for ffield in form %}
    <div class="form-group" role="form">
        {% if ffield.errors %}
            {% for error in ffield.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        <h2>{% trans "Step 2. General Trade Agreement Exceptions and Exclusions" %}</h2>      
        <p><b>{% trans "Important: " %}</b>{% trans "Provide a response to the following questions below and click the ‘Next’ button." %}</p>
        <p>{% trans "Are there any general trade agreement exceptions or exclusions applicable to the procurement?" %}</p>
        <p>{% trans "Answer the question by reviewing the list of general trade agreement exceptions and exclusions below and selecting the ones that apply to the procurement. If an exception or exclusion only applies to part of the procurement, it should not be selected. Some of the exceptions or exclusions only apply to some of Canada's trade agreements and the tool will determine which exceptions apply when returning the suggested results. Refer to the footnotes at the bottom for more information on which trade agreements include the specific exception or exclusion." %}</p>   
            {% for ex in form.exceptions %}
                <div class="checkbox">
                    <span>
                        {{ ex }}	
                    </span> 
                    <sup id="table1-fn{% cycle 1 2 3 5 6 7 8 9 10 11 12 13 14 15 %}-rf"><a class="fn-lnk" href="#table1-fn{% cycle 1 2 3 5 6 7 8 9 10 11 12 13 14 15 %}"><span class="wb-inv">table 1 note </span>{% cycle 1 2 3 5 6 7 8 9 10 11 12 13 14 15 %}</a></sup>
                </div>
            {% endfor %}
        <hr>
    </div>
    {% endfor %}
{% endblock %}
{% block footnotes %}
<table>
    <tfoot>
        <section class="wb-fnote">
            <h2 id="table1-fn" class="wb-inv">Table 1 Notes</h2>
            <h3>{% trans "Footnotes" %}</h3>
            <dl>
                <dt>Table 1 Note 1</dt>
                <dd id="table1-fn1">
                    <p>{% trans "Applies to all agreements except CFTA" %}</p> 
                    <p class="fn-rtn"> <a href="#table1-fn1-rf"><span class="wb-inv">Return to table 1 note </span>1<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn2">
                    <p>{% trans "Applies to all agreements except CFTA, CETA, and CPTPP" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn2-rf"><span class="wb-inv">Return to table 1 note </span>2<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn3">
                    <p>{% trans "Applies to all agreements except CFTA, CETA, and CPTPP" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn3-rf"><span class="wb-inv">Return to table 1 note </span>3<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn5">
                    <p>{% trans "Applies to all agreements except CFTA" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn5-rf"><span class="wb-inv">Return to table 1 note </span>5<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn6">
                    <p>{% trans "Applies to all agreements except CUSMA, CFTA, CUFTA, CKFTA, WTO-AGP, CETA, and CPTPP" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn6-rf"><span class="wb-inv">Return to table 1 note </span>6<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn7">
                    <p>{% trans "Applies to all agreements" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn7-rf"><span class="wb-inv">Return to table 1 note </span>7<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn8">
                    <p>{% trans "Applies to all agreements except CETA" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn8-rf"><span class="wb-inv">Return to table 1 note </span>8<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn9">
                    <p>{% trans "Applies to all agreements" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn9-rf"><span class="wb-inv">Return to table 1 note </span>9<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn10">
                    <p>{% trans "Applies to all agreements" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn10-rf"><span class="wb-inv">Return to table 1 note </span>10<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn11">
                    <p>{% trans "Applies to all agreements" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn11-rf"><span class="wb-inv">Return to table 1 note </span>11<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn12">
                    <p>{% trans "Applies to all agreements" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn12-rf"><span class="wb-inv">Return to table 1 note </span>12<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn13">
                    <p>{% trans "Applies to all agreements" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn13-rf"><span class="wb-inv">Return to table 1 note </span>13<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn14">
                    <p>{% trans "Applies to all agreements except CFTA" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn14-rf"><span class="wb-inv">Return to table 1 note </span>14<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn15">
                    <p>{% trans "Applies to all trade agreements" %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn15-rf"><span class="wb-inv">Return to table 1 note </span>15<span class="wb-inv"> referrer</span></a> </p>
                </dd>
            </dl>
        </section>
    </tfoot>
</table>
{% endblock %}
