{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}

{% block main-content %}

    {# --- Main title #}
    {% block main-content-title %}
    <main role="main" property="mainContentOfPage" class="container">
        {% block title %}{% endblock %}
    
        <div>
            <div class="mwsgeneric-base-html parbase section">     
            <p class="gc-byline"><strong>From: <a href="https://www.canada.ca/en/treasury-board-secretariat.html">Treasury Board of Canada Secretariat</a></strong></p>
                <section>
                    <div class="mrgn-tp-md mrgn-bttm-sm brdr-bttm">
                        <div class="row  mrgn-bttm-sm">
                            <ul class="toc lst-spcd col-md-12">
                                <li class="col-md-4">
                                    <a href="guide/en/0/" class="list-group-item {% if wizard.steps.step1 == 1 %} cust-active active {% endif %}">1. Mandatory elements</a>
                                </li>
                                <li class="col-md-4">
                                    <a href="guide/en/1/" class="list-group-item {% if wizard.steps.step1 == 2 %} cust-active active {% endif %}">2. Exceptions</a>
                                </li>
                
                                <li class="col-md-4">
                                    <a href="guide/en/2/" class="list-group-item {% if wizard.steps.step1 == 3 %} cust-active active {% endif %}">3. Limited Tendering</a>
                                </li>
                
                                <li class="col-md-4">
                                    <a href="guide/en/3/" class="list-group-item {% if wizard.steps.step1 == 4 %} cust-active active {% endif %}">4. CFTA Exceptions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    {% endblock %}
    {% block intro %}
    {% endblock %}
    <div class="row mrgn-tp-md mrgn-bttm-md">
        <div class="col-md-12">
            <section>
                <div class="wb-frmvld">
                    {% block form %}
                    {% endblock %}
                </div>
            </section>
            <section>
                <div class="wb-frmvld">
                    {% block footnotes %}{% endblock %}
                </div>
            </section>
        </div>
    </div>
{% endblock main-content %}
