{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}


{% block main-content %}

{# --- Main title #}
{% block main-content-title %}
    <h1 property="name" id="wb-cont">{% trans "Trade Agreement Guide" %}</h1>
{% endblock %}

<section>
    <div class="row">
        <div class="wb-frmvld">

    <form action="/evaluate/" method="post" role="form" >
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-warning">
           <p>{{ form.non_field_errors }}</p>
        </div>
        {% endif %}
        {% for ffield in form %}
        <div class="form-group">
            {% if ffield.errors %}
                {% for error in ffield.errors %}
                    {{ error }}<br>
                {% endfor %}
            {% endif %}
            <label for="{{ ffield.id_for_label }}" {% if ffield.field.required %}class="required"{% endif %}>
                {{ ffield.field.label }}
                {% if ffield.field.required %}<strong class="required">({% trans 'Required' %})</strong>{% endif %}
            </label>
            {% if ffield.field.widget.input_type == 'checkbox' %}
                <fieldset>
                <div class="checkbox">
                    {% for choice in ffield.field.choices %}
                        <div class="checkbox">
				    <label for="{{ choice|first}}"><input type="checkbox" name="{{ choice|first }}" value="{{ choice|last }}" id="{{ choice|first }}"/>&#160;&#160;{{ choice|last }}</label>
                        </div>
                    {% endfor %}
			    </div>
                </fieldset>

            {% else %}
                {{ ffield }}
            {% endif %}
            {% if ffield.help_text %}
            <p class="help">{{ ffield.help_text|safe }}</p>
            {% endif %}
        </div>
       {% endfor %}
        <input type="submit" value="Submit">
    </form>

        </div></div>
</section>

{% endblock main-content %}