{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}


{% block main-content %}

    {# --- Main title #}
    {% block main-content-title %}
        <h1 property="name" id="wb-cont">{% trans "Trade Agreement Guide" %}</h1>
    {% endblock %}
    {% if show_eval %}
        {{ form.non_field_errors }}
        <div class="row mrgn-tp-md mrgn-bttm-lg">
            <table class="table">
                <thead>
                    <th>{% trans "User Input" %}</th>
                </thead>
                <tbody>
                    <tr>
                        <th>{% trans "Estimated Value:" %}</th>
                        <td>{{ estimated_value }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Entity:" %}</th>
                        <td>{{ entities }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Commodity Type:" %}</th>
                        <td>{{ type }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Commodity Code System:" %}</th>
                        <td>{{ code_system }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Commodity Code:" %}</th>
                        <td>{{ code }}</td>
                    </tr>
                    <br>
                    <tr>
                        <th>{% trans "Limited Tendering Reasons:" %}</th>
                        <td>
                            {% for lt in limited_tendering %}
                                <li>{{ lt }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <th>{% trans "Exceptions:" %}</th>
                        <td>
                            {% for ex in exceptions %}
                                <li>{{ ex }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <th>{% trans "CFTA Exceptions:" %}</th>
                        <td>
                            {% for ce in cfta_exceptions %}
                                <li> {{ ce }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% for key_parent, val_parent in rules.items %}
            <li>{{ key_parent }}</li>
            <li>{{ val_parent }}</li>
        {% endfor %}
        {% for key, value in data.items %}
            <li>{{ key }}</li>
            <li>{{ val }}</li>
        {% endfor %}
        {% else %}
    <div class="row mrgn-tp-md mrgn-bttm-md">
        <div class="col-md-12">
            <section>
                <div class="wb-frmvld">
                    <form action="/guide/en/evaluate/" method="POST" role="form" id="tag-form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group" role="form">
                            <p>
                                {{ instructions }}
                            </p>

                            {{ form.estimated_value.errors }}
                            {{ form.estimated_value.label_tag }}
                            {{ form.estimated_value }}

                            {{ form.entities.errors }}
                            {{ form.entities.label_tag }}
                            {{ form.entities }}

                            {{ form.commodity_type.errors }}
                            {{ form.commodity_type.label_tag }}
                            <select class="form-control" id="type" name="type" url = "{%url 'guide:get_type' %}"></select>

                            {{ form.commodity_system.errors }}
                            {{ form.commodity_system.label_tag }}
                            <select class="form-control" id="code_system" name="code_system" url = "{%url 'guide:get_code_system' %}">
                                <option value='all' selected>Select Code System</option>
                            </select>

                            {{ form.commodity_code.errors }}
                            {{ form.commodity_code.label_tag }}
                            <select class="form-control" id="code" name="code" url = "{%url 'guide:get_code' %}">
                                <option value='all' selected>Select Commodity Code</option>
                            </select>

                            <hr>
                            {{ form.limited_tendering.errors }}
                            {{ form.limited_tendering.label_tag }}
                            {% for rule in form.limited_tendering %}
                                <div class="checkbox">
                                    {{ rule }}
                                </div>
                            {% endfor %}
                            <hr>

                            {{ form.exceptions.errors }}
                            {{ form.exceptions.label_tag }}
                            {% for exception in form.exceptions %}
                                <div class="checkbox">
                                    {{ exception }}
                                </div>
                            {% endfor %}
                            <hr>
                            {{ form.cfta_exceptions.error }}
                            {{ form.cfta_exceptions.label_tag }}
                            {% for rule in form.cfta_exceptions %}
                                <div class="checkbox">
                                    {{ rule }}
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        <input type="submit" value="Submit" class="btn btn-primary" id="submit-form-button">
                    </form>
                </div>
            </section>
        </div>
    </div>
    {% endif %}
{% endblock main-content %}
{% block custom-jquery %}
    <script src="{% static 'jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/guide.js' %}" type="text/javascript"></script>
    <script lang="js">
        var form = document.getElementById("tag-form");

        document.getElementById("submit-form-button").addEventListener("click", function() {
            form.submit();
        });

    </script>
{% endblock %}