{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}


{% block main-content %}

    {# --- Main title #}
    {% block main-content-title %}
        <h1 property="name" id="wb-cont">{% trans "Trade Agreement Guide" %}</h1>
        <section class="alert alert-info">
            <h2>Instructions</h2>
            <div>
                <p>
                    {{ instructions }}
                </p>
            </div>
          </section>
    {% endblock %}
    {% if show_eval %}
        {{ form.non_field_errors }}
        <div class="row mrgn-tp-md mrgn-bttm-lg">
            <table class="wb-tables table">
                <thead>
                    <th>{% trans "Form Field" %}</th>
                    <th>{% trans "User Input" %}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{% trans "Estimated Value:" %}</td>
                        <td>{{ estimated_value|intcomma }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Entity:" %}</td>
                        <td>{{ entities }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Commodity Type:" %}</td>
                        <td>{{ type }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Commodity Code System:" %}</td>
                        <td>{{ code_system }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Commodity Code:" %}</td>
                        <td>{{ code }}</td>
                    </tr>
                    <br>
                    <tr>
                        <td>{% trans "Limited Tendering Reasons:" %}</td>
                        <td>
                            {% for lt in limited_tendering %}
                                <li>{{ lt }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>{% trans "Exceptions:" %}</td>
                        <td>
                            {% for ex in exceptions %}
                                <li>{{ ex }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>{% trans "CFTA Exceptions:" %}</td>
                        <td>
                            {% for ce in cfta_exceptions %}
                                <li> {{ ce }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% for key_parent, val_parent in rules.items %}
            <ul class="list-unstyled">
                <li>
                    <details>
                        <summary>
                            {{ key_parent.upper }}
                        </summary>
                        <table class="wb-tables table">
                            <thead>
                                <th>{% trans "Form Field" %}</th>
                                <th>{% trans "Result" %}</th>
                            </thead>
                            <tbody>
                                {% for key2, val2 in val_parent.items %}
                                    <tr>
                                        <td>{{ key2|title }}</td>
                                        <td>{{ val2 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </details>
                </li>
            </ul>   
        {% endfor %}
    {% else %}
    <div class="row mrgn-tp-md mrgn-bttm-md">
        <div class="col-md-12">
            <section>
                <div class="wb-frmvld">
                    <form action="/guide/en/evaluate/" method="POST" role="form" id="tag-form">
                        {% csrf_token %}
                        {% for ffield in form %}
                        <div class="form-group" role="form">
                            {% if ffield.errors %}
                                {% for error in ffield.errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endif %}
                            <label for="{{ ffield.id_for_label }}" {% if ffield.field.required %} class="required" {% endif %}>
                                {{ ffield.field.label }}	        
                            {% if ffield.field.required %}
                                <strong class="required">
                                    ({% trans 'Required' %})
                                </strong>
                                <sup id="table1-fn{{ forloop.counter }}-rf"><a class="fn-lnk" href="#table1-fn{{ forloop.counter }}"><span class="wb-inv">table 1 note </span>{{ forloop.counter }}</a></sup>
                            {% endif %}
                            </label>
                            {% if ffield.name == 'estimated_value' %}
                                {{ form.estimated_value }}
                            {% endif %}
                            {% if ffield.name == 'entities' %}
                                {{ form.entities }}
                            {% endif %}
                            {% if ffield.name == 'type' %}
                                <select class="form-control" id="type" name="type" url = "/guide/ajax/type/"></select>
                            {% endif %}
                            {% if ffield.name == 'code_system' %}
                                <select class="form-control" id="code_system" name="code_system" url = "/guide/ajax/code_system/">
                                    <option value='all' selected>Select Code System</option>
                                </select>
                            {% endif %}
                            {% if ffield.name == 'code' %}
                                <select class="form-control" id="code" name="code" url = "/guide/ajax/code/">
                                    <option value='all' selected>Select Commodity Code</option>
                                </select>
                                <hr>
                            {% endif %}
                            {% if ffield.name == 'exceptions' %}
                                <div class="checkbox">
                                    {% for ex in form.exceptions %}
                                        <label for={{ ffield.id_for_label }}>
                                            {{ ex }}
                                        </label>
                                    {% endfor %}
                                <hr>
                            {% endif %}
                            {% if ffield.name == 'limited_tendering' %}
                                <div class='form-group'>
                                    {% for lt in form.limited_tendering %}
                                        <div class="checkbox">
                                            {{ lt }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <hr>
                            {% endif %}
                            {% if ffield.name == 'cfta_exceptions' %}
                                {% for ce in form.cfta_exceptions %}
                                    <div class="checkbox">
                                        {{ ce }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        <br>
                        <table>
                            <tfoot>
                                <section class="wb-fnote">
                                    <h2 id="table1-fn" class="wb-inv">Table 1 Notes</h2>
                                    <dl>
                                        <dt>Table 1 Note 1</dt>
						                <dd id="table1-fn1">
                                            <p>"There is a footnote"</p>
                                            <p class="fn-rtn"> <a href="#table1-fn1-rf"><span class="wb-inv">Return to table 1 note </span>1<span class="wb-inv"> referrer</span></a> </p>
                                        </dd>
                                        <dd id="table1-fn2">
                                            <p>"There is a footnote2"</p>
                                            <p class="fn-rtn"> <a href="#table1-fn2-rf"><span class="wb-inv">Return to table 1 note </span>2<span class="wb-inv"> referrer</span></a> </p>
                                        </dd>
                                        <dd id="table1-fn3">
                                            <p>"There is a footnote3"</p>
                                            <p class="fn-rtn"> <a href="#table1-fn3-rf"><span class="wb-inv">Return to table 1 note </span>3<span class="wb-inv"> referrer</span></a> </p>
                                        </dd>
                                        <dd id="table1-fn4">
                                            <p>"There is a footnote4"</p>
                                            <p class="fn-rtn"> <a href="#table1-fn4-rf"><span class="wb-inv">Return to table 1 note </span>4<span class="wb-inv"> referrer</span></a> </p>
                                        </dd>
                                        <dd id="table1-fn5">
                                            <p>"There is a footnote5"</p>
                                            <p class="fn-rtn"> <a href="#table1-fn5-rf"><span class="wb-inv">Return to table 1 note </span>5<span class="wb-inv"> referrer</span></a> </p>
                                        </dd>
                                    </dl>
                                </section>
                            </tfoot>
                        </table>
                        <input type="submit" value="Submit" class="btn btn-primary" id="submit-form-button">
                    </form>
                </div>
            </section>
        </div>
    </div>
    {% endif %}
{% endblock main-content %}
{% block custom-jquery %}
    <script src="{% static 'jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/guide.js' %}" type="text/javascript"></script>
    <script lang="js">
        var form = document.getElementById("tag-form");

        document.getElementById("submit-form-button").addEventListener("click", function() {
            form.submit();
        });

    </script>
{% endblock %}