{% extends "general_form.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}

{% block intro %}
<p>This tool is developed as a reference tool to help users determine which trade agreements would likely apply to a government procurement based on input of basic procurement information relevant to determine trade agreement coverage.  This tool is designed for procurement officers, or users who are generally familiar with the Government of Canada's government procurement tendering obligations under Canada's domestic and international trade agreements and it is expected that users would have this knowledge when using this tool.</p>
<p><b>Important: </b>The results provided by this tool is a suggestion only.  It is still the responsibility of the procurement officer to identify actual trade agreement coverage based on the full considerations of the procurement including exceptions and exclusions that would apply to the entire procurement.</p>
<h2>Step 1. Mandatory Elements</h2>
<p>Determine which of Canada's trade agreements apply to your procurement by responding to the following questions and clicking the next button below.  Refer to the instructions section of this website for more information on completing each of the questions.</p>
{% endblock %}
{% block form %}
    {% for ffield in form %}
        <div class="form-group" role="form">
        <label for="{{ ffield.id_for_label }}" class="required">
            {{ ffield.field.label }}	        
            <strong class="required">
                ({% trans 'Required' %})
            </strong>
            <sup id="table1-fn{{ forloop.counter }}-rf"><a class="fn-lnk" href="#table1-fn{{ forloop.counter }}"><span class="wb-inv">table 1 note </span>{{ forloop.counter }}</a></sup>
        </label>
        {% if ffield.name == 'estimated_value' %}
            {{ form.estimated_value.errors }}
            {{ form.estimated_value }}
        {% endif %}
        {% if ffield.name == 'entities' %}
            {{ form.entities.errors }}
            {{ form.entities }}
        {% endif %}
        {% if ffield.name == 'type' %}
            {{ form.type.errors }}
            <select class="form-control" id="type" name="0-type" url = "/tag/ajax/type/"></select>
        {% endif %}
        {% if ffield.name == 'code' %}
            {{ form.code.errors }}
            <select class="form-control" id="code" name="0-code" url = "/tag/ajax/code/">
                <option value='all' selected>Select Commodity Code</option>
            </select>
            <hr>
        {% endif %}
    </div>
    <br>
    {% endfor %}
{% endblock %}
{% block footnotes %}
<table>
    <tfoot>
        <section class="wb-fnote">
            <h2 id="table1-fn" class="wb-inv">Table 1 Notes</h2>
            <h3>{% trans "Footnotes" %}</h3>
            <dl>
                <dt>Table 1 Note 1</dt>
                <dd id="table1-fn1">
                    <p>{% trans "Enter the maximum total value of the procurement considering all forms of remuneration over the entire duration of the contract, including the total value of any options, fees and applicable taxes.  For supply arrangement tenders, input the total estimated value of all potential procurements (contracts) under the supply arrangement.  For standing offer tenders, input the total estimated value of all potential call-ups (contracts) against the standing offer." %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn1-rf"><span class="wb-inv">Return to table 1 note </span>1<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn2">
                    <p>{% trans "Select the name of the federal department or departmental agency that is the procuring entity.  Note: This tool cannot be used for procurements on behalf of federal Crown Corporations or other procuring entities not listed in Schedules I, I.1 or II of the "%}<i>{% trans "Financial Administration Act." %}</i></p>
                    <p class="fn-rtn"> <a href="#table1-fn2-rf"><span class="wb-inv">Return to table 1 note </span>2<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn3">
                    <p>{% trans "Select the commodity type.  If a procurement includes more than one commodity type (e.g. a combination of goods and services procurement), select the one that makes up the largest portion of the estimated contract value." %}</p>
                    <p>{% trans "Goods or services means goods or services of a type generally sold or offered for sale in the commercial marketplace.  Construction service means a service that has as its objective the realization by whatever means of civil or building works, based on Division 51 of the United Nations Provisional Central Product Classification (CPC)." %}</p>
                    <p class="fn-rtn"> <a href="#table1-fn3-rf"><span class="wb-inv">Return to table 1 note </span>3<span class="wb-inv"> referrer</span></a> </p>
                </dd>
                <dd id="table1-fn4">
                    <p>{% trans "Select the applicable trade agreement commodity code.  If multiple commodity codes apply to a procurement, select a single commodity code that represents more than 50% of the total estimated value, or the largest portion of the requirement by dollar value, or best represents the entire procurement." %}</p>
                    <p>{% trans "Some of the listed commodity codes are at the 4-digit level to correspond with the Goods and Services Identification Number (GSIN) used by departments.  When comparing a GSIN commodity code with the applicable trade agreement commodity code, users should refer to the highest-level alphanumeric characters in the list to determine which commodity code a GSIN falls under." %}</p>
                    <p>{% trans "Note: These trade agreement commodity codes are based on the applicable trade agreement commodity code set used to determine trade agreement commodity coverage:" %}</p>
                    <ul>
                        <li>{% trans "For goods, the Federal Supply Classification (FSC) is used." %}</li>
                        <li>{% trans "For services, the Common Classification System (CCS) and the United Nations Provisional Central Product Classification (CPC) system are used." %}</li>
                        <li>{% trans "For construction services, the United Nations Provisional Central Product Classification (CPC) is used." %}</li>
                    </ul>
                    <p class="fn-rtn"> <a href="#table1-fn4-rf"><span class="wb-inv">Return to table 1 note </span>4<span class="wb-inv"> referrer</span></a> </p>
                </dd>
            </dl>
        </section>
    </tfoot>
</table>
{% endblock %}
{% block custom-jquery %}
    <script src="{% static 'jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/guide.js' %}" type="text/javascript"></script>
{% endblock %}