{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load markdown_filter %}

{% block canada_ca_search %}{# Remove the Canada.ca search box for this app #}{% endblock canada_ca_search %}

{% block custom_page_javascript %}
    <script src="{% static 'app/form.js' %}"></script>
{% endblock custom_page_javascript %}

{% block main-content %}

{# --- Main title #}
{% block main-content-title %}
    <h1 property="name" id="wb-cont">{% trans "Trade Agreement Guide" %}</h1>
{% endblock %}

<section>
    <div class="row">
        <div class="col-md-8 col-md-push-4">
            {# --- Main Column --- #}

            {% block main-content-content %}
                {# --- Imformational Alert #}
                {% if alerts|length > 0 %}
                    <div class="row">
                        {% autoescape off %}
                            {% for alert in alerts %}
                                <div class="alert alert-info">{% trans alert %}</div>
                            {% endfor %}
                        {% endautoescape %}
                    </div>
                {% endif %}



                <div class="row">
                    <form action="{% url 'Guide' %}" id="search_form" method="get" role="form"
                          class="mrgn-bttm-md form-inline">

                        <div class="col-md-7 col-sm-12">
                            <div class="input-group">
                                <label for="ta-search-input" class="wb-inv">{% trans 'Search' %}</label>
                                <input type="text" name="ta-search-input" class="form-control" id="ta-search-input"
                                       value="{{ search_text }}" placeholder="{% trans 'Search' %}"
                                       onkeypress="submitFormOnEnter(event)" size="60"/>

                                <span class="input-group-btn">
                                 <label for="ta-search-button" class="wb-inv">{% trans 'Search' %}</label>
                                 <button type="button" class="btn btn-primary btn-small form-submit"
                                         id="ta-search-button"
                                         onclick="submitForm()">{% trans 'Search' %}
                                </button>
                            </span>
                            </div>
                            <div class="input-group hidden">
                                <input type="text" name="page" class="form-control" id="page" value="{{ currentpage }}">
                            </div>
                        </div>
                    </form>
                </div>
            {% endblock main-content-content %}
        </div>
        {# --- End Main Column --- #}

        {# --- Side Column --- #}
        <div class="col-md-4 col-md-pull-8">
            {% block main-content-sidebar %}
                {% spaceless %}
                    <aside class="mrgn-tp-lg">
                        <div class="btn-block">
                            <div>
                                <a onclick="clear_facets();" href="#"
                                   class="btn btn-default mrgn-bttm-md btn-block"><span
                                        class="glyphicon glyphicon-refresh"></span> {% trans 'Clear all choices' %}
                                </a>
                            </div>
                        </div>
                    </aside>
                {% endspaceless %}
            {% endblock main-content-sidebar %}
        </div>
        {# --- End Side Column #}

    </div>
</section>

{% endblock main-content %}

{% block pre-footer-settings %}
    showPostContent: false,
    showFeedback: false,
    showShare: false
{% endblock %}

{% block footer-settings %}
    "footerSections": [{
    "href": "{% trans '/en/forms/contact-us' %}",
    "text": "{% trans 'Open Government Contact' %}"
    },{
    "href": "{% trans 'https://www.canada.ca/en/government/dept.html' %}",
    "text": "{% trans 'Departments and agencies' %}"
    },{
    "href": "{% trans 'https://www.canada.ca/en/government/publicservice.html' %}",
    "text": "{% trans 'Public service and military' %}"
    },{
    "href": "{% trans 'http://news.gc.ca/' %}",
    "text": "{% trans 'News' %}"
    },{
    "href": "{% trans 'https://www.canada.ca/en/government/system/laws.html' %}",
    "text": "{% trans 'Treaties, laws and regulations' %}"
    },{
    "href": "{% trans 'https://www.canada.ca/en/transparency/reporting.html' %}",
    "text": "{% trans 'Government-wide reporting' %}"
    },{
    "href": "{% trans 'https://www.canada.ca/en/government/system.html' %}",
    "text": "{% trans 'How government works' %}"
    }],
    "showFeatures": false
{% endblock %}


