{% load i18n static %}

{% if cl.search_fields %}
<details>
    <summary>
        <b>Instructions</b>
    </summary>
    <p>Each trade agreement has a list of reasons a contracting officer may use to limit tendering.</p>
    <p>There is a lot of similarity between each agreement, but there are subtle differences.</p>
    <p>This tool is setup so that the limited tendering page is dynamic.  If no trade agreements</p>
    <p>apply then the page will not appear to the user.  When a trade agreement does apply the</p>
    <p>user will only be shown only the limited tendering reasons that are applicable for those</p>
    <p>trade agreements.</p>
    <br>
    <p>There is a row for each limited tendering reason.  You can edit the models here or by clicking the row ID.</p>
    <p>Use the search field to search for keywords.  Or you can filter limited tendering reasons by trade agreement coverage.</p>
    <p>There are checkboxes on the far left.  If you want to delete a row, click the checkbox then under Action select the dropdown option and click Go.</p>
    <br>
    <p>ID:  Click on the row ID to edit the information in a row.</p>
    <p>DESCRIPTION [EN]: The text of the limited tendering reason in english.</p>
    <p>DESCRIPTION [FR]: The text of the limited tendering reason in french.</p>
    <p>The rest of the columns are for Canada's trade agreements.</p>
    <br>
    <p>A checkmark indicates that that trade agreement and limited tendering reason is valid for that trade agreement.</p>
    <p>No checkmark means the entity is not covered by the trade agreement.</p>
    <br>
    <table>
        <p>The data used to populate the database can be found in the following documents:</p>
        <thead>
            <tr class="active"> 
                <th scope="col">
                    Agreement
                </th>
                <th scope="col">
                    Document
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    CCFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/chile-chili/fta-ale/03kbis_article.aspx?lang=en#04">Article Kbis-09: Tendering Procedures</a>
                </td>
            </tr>
            <tr>
                <td>
                    CCoFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/colombia-colombie/fta-ale/14.aspx?lang=eng">Article 1409: Limited Tendering</a>
                </td>
            </tr>
            <tr>
                <td>
                    CHFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/honduras/fta-ale/17.aspx?lang=eng">Article 17.11: Limited Tendering</a>
                </td>
            </tr>
            <tr>
                <td>
                    CPAFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/panama/fta-ale/16.aspx?lang=eng">Article 16.10: Limited Tendering</a>
                </td>
            </tr>
            <tr>
                <td>
                    CPFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/peru-perou/fta-ale/14.aspx?lang=eng">Article 1409: Limited Tendering</a>
                </td>
            </tr>
            <tr>
                <td>
                    CKFTA
                </td>
                <td>
                    <p>This agreement refers to the limited tendering reasons in the WTO-AGP</p>
                </td>
            </tr>
            <tr>
                <td>
                    CUFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/ukraine/text-texte/10.aspx?lang=eng#a1011">Article10.13: Limited Tendering</a>
                </td>
            </tr>
            <tr>
                <td>
                    WTO-AGP
                </td>
                <td>
                    <a href="https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm#articleXIII">Article XIII — Limited Tendering</a>
                </td>
            </tr>
            <tr>
                <td>
                    CETA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/ceta-aecg/text-texte/19.aspx?lang=eng">Article 19.12 – Limited tendering</a>
                </td>
            </tr>
            <tr>
                <td>
                    CPTPP
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/tpp-ptp/text-texte/15.aspx?lang=eng">Article 15.10: Limited Tendering</a>
                </td>
            </tr>
            <tr>
                <td>
                    CFTA
                </td>
                <td>
                    <a href="https://www.cfta-alec.ca/wp-content/uploads/2020/08/CFTA-Consolidated-Text-Final-English_August-5-2020.pdf">Article 513: Limited Tendering (PDF)</a>
                </td>
            </tr>
        </tbody>
    </table>
</details>
<div id="toolbar"><form id="changelist-search" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search"></label>
<input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" autofocus>
<input type="submit" value="{% trans 'Search' %}">
{% if show_result_count %}
    <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
{% endif %}
{% for pair in cl.params.items %}
    {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
{% endfor %}
</div>
</form></div>
{% endif %}
