{% load i18n static %}

{% if cl.search_fields %}
<details>
    <summary>
        <b>Instructions</b>
    </summary>
    <p>Some agreements have excluded certain commodity codes only for certain departments.</p>
    <p>For instance, in CCFTA, management of government owned facilities by DND, TC, and NRCan</p>
    <p>is not covered by the TA.  However, for CKFTA the management of government owned facilities</p>
    <p>is not covered for all entities.  In that case the coverage goes in the Commodity Codes section.</p>
    <br>
    <p>There is a row for each combination of Commodity Code & Organization.</p>
    <p>Use the search field to search by organization of Commodity Code.  Or you can filter entities by </p>
    <p>trade agreement coverage.</p>
    <p>There are checkboxes on the far left.  If you want to delete a row, click the checkbox then under </p>
    <p> select the dropdown option and click Go.</p>
    <br>
    <p>CODE ORGANIZATION EXCLUSION:  Click on the text to edit the information in a row.</p>
    <p>The rest of the columns are for Canada's trade agreements.</p>
    <p>A checkmark indicates that the combination of organization and commodity code applies to that TA.</p>
    <br>
    <table>
        <p>The data used to populate the database can be found in the following documents:</p>
        <thead>
            <tr class="active"> 
                <th scope="col">
                    Agreement
                </th>
                <th scope="col">
                    Document
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    CCFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/chile-chili/fta-ale/03kbis_annex-annexe.aspx?lang=en#01">Annex K bis-01.1-4: Section B - Excluded Coverage: M. Operation of Government Owned Facilities</a>
                </td>
            </tr>
            <tr>
                <td>
                    CCoFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/colombia-colombie/fta-ale/14_1.aspx?lang=eng">Annex 1401-4 Services: Section B - Excluded Coverage: M. Operation of Government Owned Facilities</a>
                </td>
            </tr>
            <tr>
                <td>
                    CHFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/honduras/fta-ale/17_1.aspx?lang=eng">Annex 17.4: Services: Section B – Excluded Coverage: M. Operation of Government Owned Facilities</a>
                </td>
            </tr>
            <tr>
                <td>
                    CPAFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/panama/fta-ale/16_1.aspx?lang=eng#a4">Annex 5: Services: Section B – Excluded Coverage by Major Service Category: M. Operation of Government-Owned Facilities</a>
                </td>
            </tr>
            <tr>
                <td>
                    CPFTA
                </td>
                <td>
                    <a href="https://www.international.gc.ca/trade-commerce/trade-agreements-accords-commerciaux/agr-acc/peru-perou/fta-ale/annex-1401-annexe.aspx?lang=eng">Annex 1401.1-4 Services: Section B - Excluded Coverage: M. Operation of Government Owned Facilities</a>
                </td>
            </tr>
            <tr>
                <td>
                    CKFTA
                </td>
                <td>
                    <p>Not Applicable</p>
                </td>
            </tr>
            <tr>
                <td>
                    CUFTA
                </td>
                <td>
                    <p>Not Applicable</p>
                </td>
            </tr>
            <tr>
                <td>
                    WTO-AGP
                </td>
                <td>
                    <p>Not Applicable</p>
                </td>
            </tr>
            <tr>
                <td>
                    CETA
                </td>
                <td>
                    <p>Not Applicable</p>
                </td>
            </tr>
            <tr>
                <td>
                    CPTPP
                </td>
                <td>
                    <p>Not Applicable</p>
                </td>
            </tr>
            <tr>
                <td>
                    CFTA
                </td>
                <td>
                    <p>Not Applicable</p>
                </td>
            </tr>
        </tbody>
    </table>
</details>
<div id="toolbar"><form id="changelist-search" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search"></label>
<input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" autofocus>
<input type="submit" value="{% trans 'Search' %}">
{% if show_result_count %}
    <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
{% endif %}
{% for pair in cl.params.items %}
    {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
{% endfor %}
</div>
</form></div>
{% endif %}
